<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>eps_web</display-name>
  <context-param>
    <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
    <param-value>6Le88dwSAAAAAE77Qpg7qzcyQrW14H6-tFgmeMGW</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
    <param-value>6Le88dwSAAAAAOOto1vAyOTyGm4yZTSv7D6i3KPy</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>br.com.eps.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pages/protected/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/pages/public/error/403.xhtml</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/pages/public/error/404.xhtml</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/pages/public/error/408.xhtml</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/pages/public/error/500.xhtml</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Restricted Area - ADMIN Only</web-resource-name>
      <url-pattern>/pages/protected/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMIN</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Restricted Area - USER and ADMIN</web-resource-name>
      <url-pattern>/pages/protected/redirect.xhtml</url-pattern>
      <url-pattern>/pages/protected/user/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>USER</role-name>
      <role-name>ADMIN</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Restricted Area - COMPANHIA</web-resource-name>
      <url-pattern>/pages/protected/redirect.xhtml</url-pattern>
      <url-pattern>/pages/protected/companhia/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>COMPANHIA</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Restricted Area - FORNECEDOR</web-resource-name>
      <url-pattern>/pages/protected/redirect.xhtml</url-pattern>
      <url-pattern>/pages/protected/fornecedor/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>FORNECEDOR</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/pages/public/login.xhtml</form-login-page>
      <form-error-page>/pages/public/loginError.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>ADMIN</role-name>
  </security-role>
  <security-role>
    <role-name>USER</role-name>
  </security-role>
  <security-role>
    <role-name>COMPANHIA</role-name>
  </security-role>
  <security-role>
    <role-name>FORNECEDOR</role-name>
  </security-role>
</web-app>